.ad-slogan-painting {
  margin-bottom: 25px;
  max-height: 50px;
  font-size: 20px;
  font-family: LatoLight, Arial, sans-serif;
  color: $light-text-color;
  text-transform: uppercase;
}

.ad-slogan-painting__bigger {
  font-size: 36px;
  vertical-align: 36px;
  font-family: LatoLight, Arial, sans-serif;
}
