.features1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 50px;
  padding-top: 28px;
  min-height: 160px;
  max-width: 960px;
  background-color: #fff;
  border: 2px solid #ffcc00;
  border-radius: 5px;
}

.features1:after {
  content: "";
  position: absolute;
  left: 48%;
  top: 93%;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-left: 2px solid #ffcc00;
  border-bottom: 2px solid #ffcc00;
  transform: rotate(-45deg);

}

.features1__list {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: flex-start;
   margin-top: 10px;
   padding: 0 40px;
   list-style: none;
}

.features1__item {
  max-width: 210px;
  font-size: 16px;
  font-family: LatoSemibold, Arial, sans-serif;
  text-align: center;
}


