.features2 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  margin-top: 20px;
  min-height: 70px;
  max-width: 885px;
  z-index: 4;
  }

.features2__list {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: flex-start;
   margin-top: 5px;
   padding: 0 40px;
   list-style: none;
}

.features2__item {
  max-width: 210px;
  font-size: 18px;
  font-family: LatoSemibold, Arial, sans-serif;
  text-align: center;
  color: $light-text-color;
}

