.first-screen {
  position: relative;
  min-height: 1600px;
  background-color: #000;
  box-sizing: border-box;
}

.first-screen__auto {
  position: absolute;
  right: -480px;
  top: 10px;
  overflow: hidden;
  z-index: 3;
}

