@font-face {
  font-family: LatoBlack;
  src: url("../fonts/Lato-Black.woff");
  src: url("../fonts/Lato-Black.woff2");
}

@font-face {
  font-family: LatoBold;
  src: url("../fonts/Lato-Bold.woff");
  src: url("../fonts/Lato-Bold.woff2");
}

@font-face {
  font-family: LatoSemibold;
  src: url("../fonts/Lato-Semibold.woff");
  src: url("../fonts/Lato-Semibold.woff2");
}

@font-face {
  font-family: LatoRegular;
  src: url("../fonts/Lato-Regular.woff");
  src: url("../fonts/Lato-Regular.woff2");
}

@font-face {
  font-family: LatoThin;
  src: url("../fonts/Lato-Thin.woff");
  src: url("../fonts/Lato-Thin.woff2");
}

@font-face {
  font-family: LatoLightItalic;
  src: url("../fonts/Lato-LightItalic.woff");
  src: url("../fonts/Lato-LightItalic.woff2");
}
