.main-description {
  margin: 0 auto;
  margin-bottom: -10px;
  padding: 20px 30px 40px;
  max-width: 960px;
  background-color: #fff;
  font-size: 16px;
  font-family: LatoRegular, Arial, sans-serif;
  border-radius: 5px;
}
