.main-logo {
  margin-top: 67px;
  height: 124px;
  width: 286;
  background-color: #d32929;
}



.main-logo__title {
  margin-top: 16px;
  margin-bottom: 15px;
  height: 40px;
  font-size: 50px;
  color: $light-text-color;
  font-family: LatoBold, Arial, sans-serif;
}

.main-logo__slogan {

  max-width: 262px;
  font-size: 17px;
  vertical-align: 24px;
  color: $light-text-color;
  font-family: LatoSemibold, Arial, sans-serif;
  text-transform: uppercase;
}
