.order-btn {
  position: relatve;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 47px;
  min-width: 300px;
  border-radius: 20px;
  border: 1px solid linear-gradient(90deg, #ee2525, #b00707);;
  background: linear-gradient(180deg, #ee2525, #b00707);
  color: $light-text-color;
  font-size: 21px;
  font-family: LatoRegular, Arial, sans-serif;
  z-index: 6;
}

form .order-btn {
  margin-top: 5px;
  margin-bottom: 12px;
}

